html {
    scroll-behavior: smooth;
    scroll-padding: 3rem;
}

::selection {
    background: grey;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-90%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

body {
    background-color: black;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-family: monospace;
    color: white;
    font-size: 20px;
}

.navbar {
    z-index: 4;
    padding: 20px 5%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0);
}

#name {
    margin-right: auto;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.nav-route {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.nav-route li{
    padding: 10px;
    margin: 2px;
}

.nav-route a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}


/* main */

main {
    z-index: 5;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.landing {
    box-sizing: border-box;
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12vh;
    margin-bottom: 60px;
}

#scroll-down {
    bottom: 15%!important;
    height: 50px;
    width: 30px;
    border: 2px solid white;
    border-radius: 50px;
    cursor: pointer;
}

#about {
    margin-top: 18vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.label {
    font-size: 45px!important;
    padding-bottom: 10px;
}

#content-me {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#bio {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 60%;
    padding-left: 5vw!important;
    padding: 5px;
    margin: 0px;
    margin-right: 15px!important;
}

.paragraphs {
    margin-top: 11px;
    margin-bottom: 11px;
    margin-left: 0px!important;
}

#projects {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 60%;
    padding-left: 5vw!important;
    padding: 5px;
    margin: 0px;
    margin-right: 15px!important;
}

#contact {
    width: 100%;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#socials {
    margin: 40px 0px 20px 0px;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
}