html {
    width: 100vw;
    scroll-behavior: smooth;
    scroll-padding: 0rem;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

::selection {
    background: grey;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-90%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

body {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-family: monospace;
    color: white;
    font-size: 20px;
}

#navbar {
    z-index: 4;
    padding: 20px 5%;
    width: 80%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#name {
    margin-right: auto;
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding-right: 25px;
}

.nav-route {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.nav-route li{
    padding: 10px;
    margin: 2px;
}

.nav-route a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}


/* main */

main {
    z-index: 5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.landing {
    box-sizing: border-box;
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7vw;
    margin-bottom: 60px;
}

#scroll-down {
    font-size: 50px;
    color: white;
    text-decoration: none;
    position: sticky;
    bottom: 8vh!important;
    height: 50px;
    width: 30px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    animation: moveUpDown 1s ease-in-out infinite alternate;
}

@keyframes moveUpDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-20px);
    }
}

#about {
    margin-top: 18vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.label {
    font-size: 45px!important;
    padding-bottom: 10px;
}

#content-me {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#bio {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 60%;
    padding-left: 5vw!important;
    padding: 5px;
    margin: 0px;
    margin-right: 15px!important;
}

.paragraphs {
    margin-top: 11px;
    margin-bottom: 11px;
    margin-left: 0px!important;
}

#projects {
    width: 100%;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 60%;
    padding-left: 5vw!important;
    padding: 5px;
    margin: 0px;
    margin-right: 15px!important;
}

#contact {
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#backUp {
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    padding: 15px;
    border: 2px solid white;
    border-radius: 20%;
}

#socials {
    margin: 30px 0px 20px 0px;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
}

@media only screen and (max-width: 1025px) {
    #navbar {
        flex-direction: column;
        width: 100%;
        padding-top: 4vh;
        padding-left: 0;
        padding-right: 0;
    }

    #name {
        font-size: 4.5vh;
        padding: 0;
        margin: 0;
        padding-top: 2vh;
    }

    .nav-route {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px; 
        padding: 0px;
    }
    
    .nav-route li {
        padding: 10px;
        margin: 2px;
    }
    
    .nav-route a {
        color: white;
        text-decoration: none;
        font-size: 2.5vh;
    }

    .landing {
        height: 40vh;
        margin-bottom: 25vh;
    }

    #about, #projects, #contact {
        margin-top: 1vh;
    }

    #about img, #projects img, #contact img {
        width: 80%;
    }

    #about {
        margin-top: 10vh;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    #content-me {
        flex-direction: column;
    }

    #bio {
        width: 80%;
    }

    #projects {
        margin-left: 10vw;
        margin-right: 10vw;
        flex-direction: column;
    }

    .project {
        flex-direction: column;
    }

    .description {
        width: 80%;
    }

    #contact .paragraphs {
        width: 80%;
    }

    #socials {
        width: 90%;
    }

    #socials img {
        width: 100%;
    }
}